-
  var data = [
    {
      title:'slide-title',
      subtitle:'slide-subtitle',
      description:'slide-description'
    }
    ,
    {
      title:'slide-title',
      subtitle:'slide-subtitle',
      description:'slide-description'
    }

  ]