//- include data
//- - var = listItems[{link:"#",text:'link-text'},{link:"#",text:'link-text'},{link:"#",text:'link-text'}];
section.it-doctor#it-doctor
  .container
    p.section-title IT-doctor
    .section__wrapper 
      ul.section__list 
        li
          a(href="121111") link 1
        li
          a(href="1111111") link 2
        li
          a(href="123") link 3 
          

  
      